<footer class="color-gray position col-12">
    <div class="size-width">
        <div class="abstrac">
            <div class="col-5 ">
                <img class="logo-white" src="./assets/logo-white.png">
                <div class="title-zone">
                    <a href="www.facebook.com/doallies"><i class="fab fa-facebook-square"></i></a>
                    <a href="www.facebook.com/doallies"><i class="fab fa-instagram"></i></a>
                    <a href="www.facebook.com/doallies"><i class="far fa-envelope"></i></a>
                </div>
                
            </div>
            <!--div class="col-5 border-content">
                <div class="title-zone">Información de interés</div>
                <div class="categorias">
                    <div class="col-4">
                        
                    </div>
                    <div class="col-8">
                        
                    </div>
                </div>
            </div>
            <div class="col-2 border-content ">
                <div class="title-zone">Descargas</div>
            </div-->
        </div>

        <div class="credenciales border-content">
            <div class="col-4 text-align">
                © 2020 Levans Corp
            </div>
            <div class="col-8 menu-footer">
               <ul>
                <a href="/Contáctanos"><li>Contáctanos</li></a>
                <a href="/Contáctanos"><li>Términos y condiciones</li></a>
                <a href="/Contáctanos"><li>Políticas de privacidad</li></a>
               </ul>
            </div>
        </div>

    </div>
</footer> 