.color-gray{
    background-color:rgba(13,101, 217);
    color: rgb(255, 255, 255);
    font-weight: normal;
}
.position{
    position: absolute;
    width: 100%;
    
}
.border-content{
    border-top: 0.5px solid rgb(212, 212, 212,0.8);
    border-bottom: 0.5px solid rgb(212, 212, 212,0.8);
}
.border-rigth{
    border-right: 0.5px solid rgb(212, 212, 212,0.8);
}
.size-width{
    width: 80%;
    margin: 30px auto;
}
.propuesta-valor{
    display: flex;
}
.propuesta-content{
    display: flex;
}
.propuesta-description{
    display: block;
}
.abstrac{
    display: flex;
}
.categorias{
    display: flex;
}
.title-zone{
    margin: 20px 0 20px 0;
} 
.categorias li{
    list-style: none;
    text-decoration: none;
    font-weight: normal;
    font-size: 0.8rem;
}
.credenciales{
    text-align: center;
    display: flex;
    align-items: center;
    vertical-align: middle;
}
.text-align{
    text-align: left;
    
}

.menu-footer{
    height: 40px;
}
.menu-footer ul{
    height: 40px;
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    margin: 0;
}
.menu-footer ul a{
    color: rgb(255, 255, 255);
}
.logo-white{
    height: 40px;
    width: auto;
}
.fab {
    size: 5x;
    color: rgb(255, 255, 255);
    margin-right: 50px;
}
.far{
    size: 5x;
    color: rgb(255, 255, 255);
    margin-right: 50px;
}
@media only screen and (min-width: 734px) and (max-width: 959px){
    .menu-footer{
        font-size: 0.8rem;
    }
}
@media only screen and (min-device-width: 330px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2){
    .menu-footer ul{
        display: block;
        font-size: 0.8rem;
    }
    .credenciales{
        height: 150px;
    }
    .abstrac{
        display: block;
    }
    .col-5{
        max-width: 100%;
    }
}