<div class="lanzamiento display">
    <img class="lanzamiento-img" src="./assets/img/lanzamiento.gif">
</div>
<div class="lanzamiento">
    <h1>¡Nos preparamos para el lanzamiento!</h1>
    <h4>Mantente al tanto y síguenos en nuestras redes sociales</h4>
    <div class="logo-mb">
        <a href="/"><img class="brightness contrast logo-mb"src="./assets/elevengo.png" alt="doallies"></a>
    </div>
    <div class="display separar">
        <a href="https://www.facebook.com/doallies"><i class="fab fa-facebook-square fa-3x"></i></a>
        <a href="https://www.instagram.com/doallies"><i class="fab fa-instagram fa-3x" ></i></a>
        <a href="mailto:info@doallies.com?Subject=Quiero información!"><i class="far fa-envelope fa-3x"></i></a>
    </div>
</div>