.main-navegation-bar{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 100px;
    position: fixed;
    z-index: 9999;
}

.logo-mb{
    height: 40px;
    width: auto;
}
.menu-display ul{
    display: flex;
    color: rgb(0,0,0);
    justify-content: space-around;
    align-items: center;
}
.menu-display ul a{
    text-decoration: none;
    color: rgb(0,0,0);
    vertical-align: middle;
    font-weight: normal;
    
}
.menu-display ul a:hover{
    color: rgb(46, 112, 255)
}