<nav class="main-navegation-bar">
    
    <div class="col-3">
        <div class="logo-mb">
            <img class="logo-mb"src="../assets/elevengo.png" alt="doallies">
        </div>
    </div>

    <div class="col-9 menu-display">
        <ul>
            <a href="#/identificar">
                <li type="button" class="mnbar-btn-icon">
                    Acceso a usuarios
                </li>
            </a>
            <a href="#/explorar">
                <li  type="button" class="mnbar-btn-icon">
                    Eres profesional?
                </li>
            </a>
            <a href="#/pedidos">
                <li type="button" class="mnbar-btn-icon">
                    Servicios
                </li>
            </a>
            <a href="#/empleos">
                <li type="button" class="mnbar-btn-icon">
                    Tiendas / Restaurantes
                </li>
            </a>
        </ul>
    </div>
    
    <!--div class="mnbar-section-rigth">
        <a href="#/dbuser">
            <div class="mbar-img-user">
                <img id="idimg-mb"src="../assets/icons/user.png" alt="Identificar">
                <span>Usuario</span>
            </div>
        </a>
        <div type="button"class="btn mbar-btn-login">
            <p>Iniciar Sesion</p>
        </div>
    </div-->
</nav>