nav.cian {
    background: rgba(19, 121, 255, 0.9)!important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    transition: .5s;
    
}

nav.vista {
    display: none;
    transition: top 5s;
}
.main-navegation-bar{
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 100px;
    position: fixed;
    z-index: 9999;
}
.contrast { filter: contrast(100%); }
.brightness { filter: brightness(100); }

.logo-mb{
    height: 40px;
    width: auto;
}

.menu-display ul{
    width: 100%;
    display: flex;
    color: rgb(0,0,0);
    justify-content: space-around;
    align-items: center;
}
.menu-display ul a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    font-weight: normal;
    
}
.menu-display ul a:hover{
    color: rgb(46, 112, 255)
}
@media only screen and (min-width: 768px) and (max-width: 959px){
    .menu-display ul{
        width: 500px;
        background-color: rgb(255, 255, 255);
        position: relative;
    }
}
@media only screen and (max-width: 600px) {
    .main-navegation-bar{
        padding-left: 20px;
        padding-right: 40px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 959px){
    .main-navegation-bar{
        padding-left: 20px;
        padding-right: 40px;
    }
}