<nav class="main-navegation-bar navbar navbar-expand-lg navbar-light">
    
    <div class="col-3">
        <div class="logo-mb">
            <a href="/"><img class="brightness contrast logo-mb"src="./assets/elevengo.png" alt="doallies"></a>
        </div>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarTogglerDemo02" class="collapse navbar-collapse col-9 menu-display">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <a class="nav-link" href="/lanzamiento">
                <li type="button" class="mnbar-btn-icon nav-item active">
                    Acceso a usuarios
                </li>
            </a>
            <a class="nav-link" href="/emprendedor">
                <li  type="button" class="mnbar-btn-icon nav-item">
                    ¿Eres un profesional?
                </li>
            </a>
            <a class="nav-link" href="/lanzamiento">
                <li type="button" class="mnbar-btn-icon nav-item">
                    Servicios
                </li>
            </a>
            <a class="nav-link" href="/lanzamiento">
                <li type="button" class="mnbar-btn-icon nav-item">
                    Tiendas / Restaurantes
                </li>
            </a>
        </ul>
    </div>
    
    <!--div class="mnbar-section-rigth">
        <a href="#/dbuser">
            <div class="mbar-img-user">
                <img id="idimg-mb"src="../assets/icons/user.png" alt="Identificar">
                <span>Usuario</span>
            </div>
        </a>
        <div type="button"class="btn mbar-btn-login">
            <p>Iniciar Sesion</p>
        </div>
    </div-->
</nav>