<app-navbar></app-navbar>
<div class="container-home">
    <div class="col-6">
        
        <div class="card-person-type">
            <div class="img-card">
                <img class="img-card" src="./assets/emprendedorV1.png">
            </div>
            <div class="information-section">
                <div class="text text-section-2">
                    <h1>¿Eres emprendedor?</h1>
                    <p>Tienes un <span>negocio</span> o prestas un <span>servicio</span>, te contamos
                        que conseguir clientes ahora es más fácil, rápido y gratuito. Te explicamos cómo?
                    </p>
                    <div class="btn-section">
                        <button class="btn btn-primary">Checa aquí</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-person-type">
            <div class="img-card">
                <img class="img-card" src="./assets/emprendedora.png">
            </div>
            <div class="information-section">
                <div class="text text-section-2">
                    <h1>¿Eres un crack en los negocios?</h1>
                    <p>Tienes un <span>negocio</span> o prestas un <span>servicio</span>, te contamos
                        que conseguir clientes ahora es más fácil, rápido y gratuito. Te explicamos cómo?
                    </p>
                    <div class="btn-section">
                        <button class="btn btn-primary">Checa aquí</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-6 vertical-borderline">
        <div class="text text-section">
            <h1>¿Qué necesitas?</h1>
            <p>Conecta rápidamente con los <span>profesionales</span> que necesitas para solucionar tus
                problemas, o compra lo que deseas en tus <span>tiendas o restaurantes favoritos</span>
            </p>
        </div>
        <div class="img-section">
            <img class="img-section" src="./assets/img/explorar-aplicacion.png">
        </div>
        <div class="btn-container">
            <button class="btn btn-size shadow-box btn-light">Explora la aplicacion</button>
            <button class="btn btn-size btn-black"><i class="fab fa-google-play"></i>Pronto en <span>Google Play</span></button>
        </div>
    </div>
</div>


<div class="img-banner-city">
    <img class="img-banner-city" src="./assets/img/city.png">
</div>

<div class="container-home-2">
    <div class="card-bgblue">
        <div class="col-6 text-padding">
            <div class="title-left">
                <h1>¿Por qué usar Doallies para contrar un servicio profesional o comprar en mis tiendas favoritas?</h1>
            </div>
            <div class="title-right" >
                <p>Con una rutina cada vez más ocupada, no siempre hay tiempo para resolver aquellos pendientes en el hogar y/o la oficina, o para salir a comprar algo que necesitamos. 
                ¡Doallies reúne a profesionales certificados y a las tiendas favoritas en tu ciudad!. Puedes encontrar desde profesionales para reparar/dar mantenimiento a tus electrodomésticos
                en el hogar, hasta restaurantes con tus comidas típicas preferidos. Haz tu solicitud y recibe al profesional contactado, o tu pedido en casa y ten la seguridad de nuestra garantía 
                de calidad en la entrega y prestación del servicio.</p>
            </div>
        </div>
        <div class="img-servicio-home">
            <img  class="img-servicio-home" src="./assets/img/servicio-tecnico.png">
        </div>
    </div>
</div>

<div class="container-home-2">
    <div class="title">
        <h1>¿Cómo funciona?</h1>
    </div>
    <div class="display-elements">
        <div class="col-4 text-padding-2">
            <div class="img-container">
                <img class="img-size-2" src="./assets/icons/consulta.png">
            </div>
            <p>Escoge la categoria de servicio/tienda que deseas consultar</p>
        </div>
        <div class="col-4 text-padding-2">
            <div class="img-container">
                <img class="img-size-2" src="./assets/icons/selecciona.png">
            </div>
            <p>Selecciona el servicio/producto que vas a contrar o cotiza para tener
                mayor detalle y pauta el día y la hora en la que deseas recibirlo</p>
        </div>
        <div class="col-4 text-padding-2">
            <div class="img-container">
                <img class="img-size-2" src="./assets/icons/notifica.png">
            </div>
            <p>Tu solicitud es enviada, nuestro doallier la aprobará y solamente cuando hayas
                recibido el servicio/pedido, se procesará el pago
            </p>
        </div>
    </div>
</div>

<app-footer2></app-footer2>