<app-navbar2 ></app-navbar2>
<div class="container-emprendedor">


<div class="container-emprendedor">
    <img class="bgemprendedor" src="./assets/img/bgemprendedor.png">
    <div class="text center-title">
        <h1>¿Eres un emprendedor/profesional?</h1>
        <h5>Conseguir clientes ahora es más fácil, rápido y gratuito</h5>
        <h5>¡Te explicamos cómo lograrlo!</h5>
        <div class="btn-container">
            <a href="/lanzamiento"><button class="btn btn-size shadow-box btn-light">Explora la aplicación</button></a>
            <a href="/lanzamiento"><button style="display: none;"class="btn btn-size btn-black"><i class="fab fa-google-play"></i>Pronto en <span>Google Play</span></button></a>
        </div>
    </div>
</div>

<div class="info-section">
    <!--h1>Beneficios</h1-->
    <div class="grid size-width">
        <div class="card-info">
            <div class="img-container">
                <img class="img-size" src="./assets/icons/descarga.png">
            </div>
            <h3>Conecta con aliados</h3>
            <p><span>¡Doallies es grátis!</span> Crea una cuenta y te ayudamos a encontrar aliados, proveedores e inversionistas para desarrollar tu negocio, así como también clientes potenciales 
            para incrementar tus ventas ¿Te lo vas a perder?</p>
        </div>

        <div class="card-info">
            <div class="img-container">
                <img class="img-size" src="./assets/icons/contrata.png">
            </div>
            <h3>Nuevos clientes</h3>
            <p><span>Tus clientes te enviarán solicitudes de trabajo o pedidos</span> directamente tu cuenta en la app,
                responde a cotizaciones, confirma servicios y entrega tus pedidos a través de nuestros doalliers certificados 
            </p>
        </div>

        <div class="card-info">
            <div class="img-container">
                <img class="img-size" src="./assets/icons/ingresos.png">
            </div>
            <h3>Incrementa tus ingresos</h3>
            <p>Con doallies<span> no necesitas invertir en publicidad</span> Selecciona las categorías en las que 
            se desempeña tu negocio y aumenta la rentablidad de tu trabajo</p>
        </div>
        <div class="card-info">
            <div class="img-container">
                <img class="img-size" src="./assets/icons/ahorro.png">
            </div>
            <h3>Ahorra tiempo y dinero</h3>
            <p>Conseguir clientes es súper rápido, muchas personas buscan un profesional como tu y no 
                siempre logran encontrar lo que necesitan, pero Doallies lo obtienen. ¿Estás listo para empezar?, la aventura nos aguarda!
            </p>
        </div>

        <div class="card-info">
            <div class="img-container">
                <img class="img-size" src="./assets/icons/notificacion.png">
            </div>
            <h3>Te avisamos enseguida</h3>
            <p>Cuando recibas un pedido o una solicitud de trabajo <span>te enviamos una notificación a tu celular, un email y un whatsapp.</span>
                Los profesionales que responden rápido consiguen mejores resultados y si recibes un pedido lo notificamos inmediatamente a un doallier express</p>
        </div>
        
        <div class="card-info">
            <div class="img-container">
                <img class="img-size" src="./assets/icons/valoracion.png">
            </div>
            <h3>Sistema de valoración</h3>
            <p>Un buen profesional o un buen negocio destaca por si solo. Nuestro sistema 
                <span>te ayuda a medir tu trabajo y que sea reconocido</span>
            </p>
        </div>
    </div>
</div>

<div class="display-container">
    <div class="img-size-2">
        <img class="img-size-2" src="./assets/img/imgtemp.png">
    </div>
    <div class="text">
        <h1>¡Hazte premium!</h1>
        <p>Se premium por $00,00 USD al mes y aprovecha de todas las ventajas que te ofrecemos:</p>
        <ul>
            <li>Prioridad en la visibilidad de tu negocio ¡Llega antes!</li>
            <li>Ofrece promociones y destácalas en nuestro portal y tu perfil profesional</li>
            <li>Revisa tus métricas y genera informes financieros para aplicar a créditos</li>
            <li>Habilita empleos</li>
            <li>Capacitaciones y asesorías online/presenciales</li>
        </ul>
    </div>
</div>


<app-footer2></app-footer2>
</div>